<!DOCTYPE html>
<html>
<head>
	<title>Learn origami</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>
</head>
<body>
<div class="cover">
	<header>
		<section>
			<div class="left">
				<img class="logo" src="../contact_images/<%=header.logo%>">
			</div>
			<div class="left">
				<h2 class="cursive"><%=header.pagetitle%></h2>
			</div>
			<div>
				<h2 ><a class="login" href="/login">LOGIN</a></h2>
			</div>
			<div class="clear"></div>
		</section>
	</header>